<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Calculadora de facturas</title>

  <!-- Bootstrap -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app="facturascalcApp" ng-controller="DatesCtrl">
    <div class="container">

      <h1>Calculadora de facturas</h1>
      <div class="panel panel-default col-lg-8 col-lg-offset-2">
          <div class="panel-body">
              <div class="row">
                  <div class="col-lg-6 col-lg-offset-3">
                    <div class="input-group">
                      <div class="input-group-addon">Importe: </div>
                      <input type="number" class="form-control" ng-model="factura.importe">
                      <div class="input-group-addon">€</div>
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->

              <div class="row">
                  <div class="col-lg-6">
                    <div class="input-group">
                      <div class="input-group-addon">Fecha de inicio: </div>
                      <input type="date" class="form-control" ng-model="factura.fechaini">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-lg-6">
                    <div class="input-group">
                      <div class="input-group-addon">Fecha de fin: </div>
                      <input type="date" class="form-control" ng-model="factura.fechafin">
                    </div><!-- /input-group -->
                  </div><!-- /.col-lg-6 -->
              </div><!-- /.row -->
          </div>
      </div>



      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-group">
                  <li class="list-group-item" ng-repeat="(key, miembro) in miembros track by $index">
                      <div class="row">
                          <div class="col-lg-6 col-lg-offset-3">
                            <div class="input-group">
                              <div class="input-group-addon">Nombre </div>
                              <input type="text" class="form-control" id="exampleInputName2" ng-model="miembro.nombre">
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-danger" ng-click="remove(miembro)">X</button>
                              </div>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->

                      </div><!-- /.row -->

                      <div class="row">
                          <div class="col-lg-6">
                            <div class="input-group">
                              <div class="input-group-addon">Fecha de inicio: </div>
                              <input type="date" class="form-control" ng-model="miembro.fechaini">
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                          <div class="col-lg-6">
                            <div class="input-group">
                              <div class="input-group-addon">Fecha de fin: </div>
                              <input type="date" class="form-control" ng-model="miembro.fechafin">
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                  </li>

              </ul>
          </div>
      </div>
      
      
      
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <ul class="list-group">
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col-lg-6 col-lg-offset-3">
                            <div class="input-group">
                              <div class="input-group-addon">Nombre </div>
                              <input type="text" class="form-control" ng-model="nuevomiembro.nombre">
                              <div class="input-group-btn">
                                  <button type="button" class="btn btn-primary" ng-click="add()">+</button>
                              </div>
                            </div><!-- /input-group -->
                          </div><!-- /.col-lg-6 -->

                      </div><!-- /.row -->

                  </li>
              </ul>
          </div>
      </div>


    </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>

</body>
</html>